@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
}
html,body{
    height: 100%;
}
a {
    text-decoration: none;
    color: #fff;
}

body.__lock {
    overflow: hidden;
}

.header {
    align-items: center;
}

.header__logo img {
    width: 80px;
    height: 80px;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__menu-item {
    margin: 0px 10px;
    font-size: 18px;
    color: #000;
}

.header__menu-item:hover {
    text-decoration: none;
    color: #000;
}

.active {
    color: orange;
}

.dropbtn {
    background-color: transparent;
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.lang__icon {
    width: 20px;
    height: 13px;
}
.main{
    padding-top: 100px;
    display: flex !important;
    flex-direction: column;
    height: 100%;
}
.wrapper{
    flex: 1 1 auto;
}
#home {
    height: 100%;
}

.top-nav-collapse {
    background-color: #fff;
    border-bottom: 1px solid orange;
}

.home {
    background-image: url('/img/1page.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.home__bg {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.home__text {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.home__text h1 {
    font-size: 80px;
}

.home__text p {
    font-size: 40px;
}

.about__us {
    height: 100vh;
}

.about__us-header {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

.title {
    font-size: 40px;
}

.about__us-text {
    display: flex;
    margin-top: 20px;
}

.text {
    font-size: 18px;
}

.why__img {
    width: 80%;
}

.gold-text {
    color: rgb(182, 130, 0);
    font-size: 40px;
}

.our__values-list {
    padding-top: 60px;
}

.our__values-list ul {
    list-style: none;
}

.our__values-list ul li {
    display: flex;
    margin-bottom: 20px;
}

.our__values-list ul li img {
    width: 50px;
    height: 50px;
    margin: auto 0;
}

.our__values-list ul li p {
    font-size: 24px;
    margin-left: 20px;
    max-width: 250px;
}

.full__service-title {
    padding: 60px 0px;
    text-decoration: underline;
}

.full__service-img {
    display: flex;
    width: 100%;
}

.full__service-bg1 {
    background-image: url('/img/service1.webp');
    background-size: cover;
    flex: 1 1 33.3333%;
    min-height: 600px;
}

.full__service-gradient1 {
    background-image: linear-gradient(to bottom, rgba(75, 74, 74, 1), rgba(75, 74, 74, 0.4));
    height: 100%;
}

.full__service-bg2 {
    background-image: url('/img/service2.webp');
    background-size: cover;
    flex: 1 1 33.3333%;
    min-height: 600px;
}

.full__service-gradient2 {
    background-image: linear-gradient(to bottom, rgba(3, 68, 12, 1), rgba(3, 68, 12, 0.4));
    height: 100%;
}

.full__service-bg3 {
    background-image: url('/img/service3.webp');
    background-size: cover;
    flex: 1 1 33.3333%;
    min-height: 600px;
}

.full__service-gradient3 {
    background-image: linear-gradient(to bottom, rgba(175, 115, 4, 1), rgba(175, 115, 4, 0.4));
    height: 100%;
}

.full__service-img p {
    color: #fff;
    padding: 60px 40px;
    font-size: 40px;
}

.license__works {
    display: flex;
}

.digital__exp {
    flex: 1 1 20%;
    display: flex;
}

.digital__exp h2 {
    transform: rotate(-90deg);
    align-self: center;
    width: 400px;
}

.license__types {
    background-color: gray;
    flex: 1 1 30%;
    padding: 60px 40px;
}

.license__types p {
    font-size: 24px;
    margin-bottom: 20px;
}

.license__types li {
    font-size: 20px;
    margin-bottom: 10px;
}

.employees {
    flex: 1 1 50%;
    background-color: #000;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gold-digital {
    color: gold;
    font-size: 80px;
}

.text-digital {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
}

.text-digital:last-child {
    margin-bottom: 0;
}

.license__title {
    margin: 35px 0;
    text-align: center;
}

.contact-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.license-img {
    width: 200px;
    height: 280px;
}

.hoverZoomLink {
    transform: unset!important;
}

@media(max-width: 991px) {
    .dropdown-content {
        min-width: 142px;
    }
    .dropdown-content a {
        color: black;
        padding: 10px 12px;
        text-decoration: none;
        display: block;
        font-size: 25px;
        text-align: center;
    }
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media(max-width: 991px) {
    .menu__icon {
        z-index: 3;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #000;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: '';
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active:before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active:after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .header__menu {
        position: fixed;
        top: 0;
        left: -120%;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 1);
        padding: 100px 30px 30px 0px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .header__menu._active {
        left: 0;
    }
    .header__menu:before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        z-index: 3;
        height: 90px;
    }
    .header__logo {
        z-index: 1;
    }
    .header__menu-list {
        flex-direction: column;
    }
    .header__menu-item {
        margin-bottom: 30px;
        font-size: 40px;
    }
    .dropbtn {
        font-size: 35px;
    }
    .full__service-img {
        flex-direction: column;
    }
    .full__service-gradient1 {
        height: 600px;
    }
    .full__service-gradient2 {
        height: 600px;
    }
    .full__service-gradient3 {
        height: 600px;
    }
    .license__works {
        flex-direction: column;
    }
    .digital__exp h2 {
        transform: unset;
        margin: auto;
    }
    .license__types {
        width: 720px;
        margin: auto;
    }
    .employees {
        width: 720px;
        margin: auto;
    }
}

@media(max-width: 767px) {
    .license__types {
        width: 540px;
        margin: auto;
    }
    .employees {
        width: 540px;
        margin: auto;
    }
    .license-img {
        width: 150px;
        height: 220px;
    }
}

@media(max-width: 540px) {
    .header__menu-item {
        font-size: 35px;
    }
    .license__types {
        width: 100%;
        margin: auto;
    }
    .employees {
        width: 100%;
        margin: auto;
    }
    .license-img {
        width: 100px;
        height: 180px;
    }
}